.logo {
  height: 20vh;
  margin-top: 0vh;
}

h2 {
  font-size: 7vh;
  margin-top: -1vh;
}

h1 {
  font-size: 10vh;
  margin-top: -7vh;
}

.gradtext {
  background: #060B47;
  background: linear-gradient(to top, #060B47 0%, #BF60FF 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1:hover {
  animation: cute 0.7s ;
}

h2:hover {
  animation: cute 0.8s ;
}

div {
  font-family: "KCCMurukmuruk";
}

p {
  width: 100%;
  height: 100%;
  font-family: "BMJua";
}

a {
  color: black;
  width: 100%;
  height: 100%;
  font-family: "BMJua";
}

.between {
  display: flex;
  justify-content: space-between;
}