.container {
	display: flex;
	/* display: inline-flex; */
    flex-wrap: wrap;
   justify-content: space-between;
}

.aligncenter {
    justify-content: space-between;
    margin-top: 2vh;
    position: relative;
}

.profile_background {
    margin-left: auto;
    margin-right: auto;
    /* width: 60vh; */
    height: 30vh;
    background-color: rgba(191, 96, 255, 0.09);
    border-radius: 5%;
    display: inline-block;
}

/* .profile_box {
    opacity: 100%;
} */

.profile_comp {
    width: 8vh;
}

.temp_dummy_profile_photo {
    width: 14vh;
    margin-top: 1vh;

}

.profile_control_comp {
    width: 5vh;
    margin: 0.2vh;
}

.alignleft {
    align-content:flex-start;
}
