.container {
	display: flex;
	/* display: inline-flex; */
    flex-wrap: wrap;
   justify-content: space-between;
}

.aligncenter {
    justify-content: space-between;
    margin-top: 2vh;
    position: relative;
}

.profile_background {
    display: relative;
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
    height: 25vh;
    background-color: rgba(191, 96, 255, 0.09);
    border-radius: 5%;
}

/* .profile_box {
    opacity: 100%;
} */

.profile_comp {
    width: 8vh;
}

.profile_control_comp {
    width: 5vh;
    margin: 0.2vh;
}

.alignleft {
    align-content:flex-start;
}

.profile_info {
    margin: 0px 0px 0px 0px !important;
}