#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  /* filter: drop-shadow(0 0 2em #bf60ff); */
  animation: cute 1s ;
}

.h1:hover {
  /* filter: drop-shadow(0 0 2em #bf60ff); */
  animation: cute 1s ;
}

.h2:hover {
  /* filter: drop-shadow(0 0 2em #bf60ff); */
  animation: cute 1s ;
}

@keyframes cute {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: cute infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: KCCMurukmuruk;
  src: url("./assets/fonts/KCC-Murukmuruk.ttf");
}

@font-face {
  font-family: BMJua;
  src: url("./assets/fonts/BM-Jua.ttf");
}