g {
    width: 500px;
}

.OUTLINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 2;
}
#CD11110 {
    fill: #f1c40f;
}
#CD11140 {
    fill: #16a085;
}
#CD11170 {
    fill: #f39c12;
}
#CD11200 {
    fill: #2ecc71;
}
#CD11215 {
    fill: #e67e22;
}
#CD11230 {
    fill: #27ae60;
}
#CD11260 {
    fill: #d35400;
}
#CD11290 {
    fill: #3498db;
}
#CD11305 {
    fill: #e74c3c;
}
#CD11320 {
    fill: #2980b9;
}
#CD11350 {
    fill: #c0392b;
}
#CD11380 {
    fill: #9b59b6;
}
#CD11410 {
    fill: #8e44ad;
}
#CD11440 {
    fill: #34495e;
}
#CD11470 {
    fill: #2c3e50;
}
#CD11500 {
    fill: #1abc9c;
}
#CD11530 {
    fill: #f1c40f;
}
#CD11545 {
    fill: #16a085;
}
#CD11560 {
    fill: #f39c12;
}
#CD11590 {
    fill: #2ecc71;
}
#CD11620 {
    fill: #e67e22;
}
#CD11650 {
    fill: #27ae60;
}
#CD11680 {
    fill: #d35400;
}
#CD11710 {
    fill: #3498db;
}
#CD11740 {
    fill: #e74c3c;
}
.LINE {
    stroke-linejoin:round;
    stroke: #ffffff;
    stroke-width: 1;
    fill: none;
}
.POINT {
    stroke: #ffffff;
    stroke-width: 1;
    fill: #ffffff;
}
.TEXT, .TEXT > a {
    fill: #ffffff;
    font-size: 30px;
    text-anchor: middle;
    alignment-baseline: middle;
}