.logo1 {
  height: 18vh;
  margin-top: 10vh;
  opacity: 0;
}

.logo2 {
  height: 2vh;
  margin-left: 40vh;
  background-image: linear-gradient(to bottom, #bf60ff 0%, #3c3b63 80%);
  font-size: 6vh;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0%;
}

.korean_title2 {
  font-size: 5vh;
  margin-top: -35vh;
}
